.dropdown {
	position: absolute;
	top: calc(var(--standard-margin) * 3);
	right: calc(var(--standard-margin) / 3);

  &__body {
		padding: var(--standard-margin);
    border-radius: var(--standard-border-radius);
    background: var(--color-white);

  	box-shadow: var(--drop-shadow);
  }

  &__arrow {
    position: absolute;
    right: 5px;
    top: -1.5rem;

    font-size: 2.5rem;
    color: var(--color-white);
  }
}

.dropdown button {
	cursor: pointer;
  background: transparent;
  border: none;
  font-size: 1em;
	font-family: 'Source Sans Pro';
}
