.dropdown {
	display: none;

  position: absolute;
  top: calc(var(--standard-margin) * 1.5);
  right: calc((var(--standard-margin) / 2.5) * -1);
	z-index: 10;

  &__body {
    padding: var(--standard-margin);
    border-radius: var(--standard-border-radius);
    background: var(--color-white);

    box-shadow: var(--drop-shadow);
  }

  &__arrow {
    position: absolute;
    right: 5px;
    top: -1.5rem;

    font-size: 2.5rem;
    color: var(--color-white);
  }
}

.dropdown-menu {
	position: relative;
}

.dropdown-menu > button {
	padding: 0 5px;
}

.dropdown button {
	display: flex;
  background: transparent;
  border: none;
  font-size: 1em;
  font-family: 'Source Sans Pro';
  cursor: pointer;
}
.dropdown button i {
	margin-right: 5px;
}

.dropdown.visible {
	display: initial;
}
