.item {
  width: 100%;

  background: var(--color-white);
	border-radius: var(--standard-border-radius);
  margin-bottom: var(--standard-margin);
	box-shadow: var(--subtle-shadow);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: calc(var(--standard-margin) / 2) var(--standard-margin);
		border-top-left-radius: var(--standard-border-radius);
		border-top-right-radius: var(--standard-border-radius);
    background: var(--main-color);
  }

&__input {
    font-family: 'Source Sans Pro';
    font-size: 1.2em;
    font-weight: 600;

    width: 90%;

    border-radius: calc(var(--standard-border-radius) / 2);
    background: transparent;
    border: 1px solid transparent;
    transition: all .3s;

    &:focus {
      background: var(--column-bg-light);
      outline: none;

      border: 1px solid var(--color-neutral);
    }
  }

  &__body {
    padding: var(--standard-margin);
  }

  &__button {
    width: 100%;
    height: 3.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 1rem;
    background: var(--main-color);
  }

  &__icon {

  }
}
