.item {
    width: 100%;

    margin-bottom: var(--standard-margin);
    border-radius: 1rem;
    background: var(--color-white);

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 1rem 1.5rem;
        border-radius: 1rem 1rem 0 0;
        background: var(--main-color);
    }

    &__input {
        font-family: 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 600;

        width: 90%;

        border-radius: .5rem;
        padding: .5rem;
        background: transparent;
        border: 1px solid transparent;
        transition: all .3s;

        &:focus {
            background: var(--input-item);
            outline: none;

            border: 1px solid var(--input-border);
            box-shadow: 0 0 1rem var(--input-boxshadow);
        }
    }

    &__body {
        padding: 2rem;
    }

    &__button {
        width: 100%;
        height: 3.5rem;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 1rem;
        background: var(--main-color);
    }

    &__icon {

    }
}
