// .workspace {
// 	display: flex;
// 	background: lightblue;
// }

.workspace {
	height: 100vh;
  display: flex;

  &__list {
		display: flex;
		// background: lightblue;
  }

  &__add-button {
		flex-shrink: 0; /* avoid shrinking */
    display: flex;
    justify-content: center;

    height: 100%;
    width: var(--standard-column-width);

    padding: 2rem;
    border-radius: 1rem;
    background: var(--column-bg);
    cursor: pointer;
  }
}

#workspace-content {
	width: calc(100% - 360px);
	padding: 20px 40px;
	display: flex;
	overflow-x: auto;
	// background: steelblue;
}
