:root {
    //colors
    --color-black: #000;
    --color-white: #fff;

    --text-black: #000;
    --text-column: #333333;

    --column-bg: #e2e4e6;
    --column-bg-light: #f3f3f2;

    --item-header: #fe9c9c;
}