:root {
    //colors
    --color-black: #000;
    --color-white: #fff;

	--color-danger: tomato;
	--color-danger-hover: #c64b35;
	--color-neutral: grey;
	--color-neutral-hover: #615d5d;

    --text-black: #000;
    --text-column: #333333;

    --column-bg: #e2e4e6;
    --column-bg-light: #f3f3f2;

    --item-header: #fe9c9c;

    --input-border: lightblue;
    --input-boxshadow : #75ddff;

    --input-item: #ffcccc;

    //drop shadow
    --drop-shadow: 3px 3px .75rem rgba(0, 0, 0, .25);

	//elements
	--standard-border-radius: 10px;
}
